@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@font-face {
    font-family: 'BYekan';
    src: url('assets/fonts/yekan/BYekan-webfont.ttf');
}

* {
    font-family: 'BYekan', Verdana, Geneva, Tahoma, sans-serif;
    direction: rtl;
    text-align: right;
}

@theme {
    --spacing-app_sidebar_w: 300px;
    --spacing-app_header_h: 70px;

    --color-app_color_1: #D2C1B6;
    --color-app_color_2: #F9F3EF;
    --color-app_color_3: #375267;
    --color-app_color_4: #1B3C53;
    --color-app_color_5: #122c3f;
}

.btn {
    padding: 5px 18px;
    line-height: 30px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
        box-shadow: 0 6px 10px rgba(0, 0, 0, 0.4);
        filter: brightness(1);
    }
}